<div class="header">
  <h2>Sign up</h2>
  <%= link_to "Sign in", new_session_path(resource_name), :class => "button left" %>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="grouping">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="grouping">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="grouping">
    <%= f.label :password_confirmation, "Confirm" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit "Sign up", :class => "button main_submit" %>
<% end %>

<%= render :partial => "devise/shared/links" %>