<div class="widget settings">
  <div class="header">
    <h2>Widget Settings</h2>
    <%= link_to "Edit", "#", :class => "button left", :id => "settings_edit" %>
    <%= link_to "✚", new_widget_path, :class => "button right add" %>
  </div>
  
  <div id="my_widgets">
    <% @widgets.each do |widget| %>
      <div class="section common">
        <h3><%= widget.class.title %></h3>
        <div class="buttonset hidden">
          <%= button_to "Delete", widget, :method => :delete, :class => "delete button" %>
          <%= link_to "Edit Settings", edit_widget_path(widget), :class => "button edit" %>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="footer save">
    <%= link_to "sign out", destroy_user_session_path, :class => "button cancel" %>
  </div>
</div>