<div class="widget weather">
  <div class="header">
    <h2><%= widget.class.title %></h2>
  </div>

  <div class="section common">
    <h3>Forecast for:</h3>
    <p><%= widget.zip %></p>
  </div>

  <div class="high_low section">
    <div class="high"><%= widget.today[:high] %>&deg;</div>
    <div class="low"><%= widget.today[:low] %>&deg;</div>
  </div>

  <div class="conditions section common">
    <img src="<%= widget.today[:icon] %>">
    <h3>Conditions:</h3>
    <p><%= widget.today[:conditions] %></p>
  </div>
</div>