<%= form_for @widget do |f| %>

  <div class="header">
    <h2><%= @widget.class.title %> Settings</h2>
  </div>
  
  <% if @widget.special_settings %>
    <div class="google_auth">
      <a href="https://accounts.google.com/o/oauth2/auth?client_id=73940937617.apps.googleusercontent.com&amp;redirect_uri=http://localhost:3001/api/return_from_google&amp;scope=http://www.google.com/calendar/feeds/default/owncalendars/full/&amp;response_type=code&amp;state=widget-<%= @widget.id %>" class="button">Authorize with Google</a>
    </div>
  <% end %>
  
  <% @widget.available_settings.each do |setting| %>
    <div class="grouping">
      <%= f.label setting %>
      <% if setting == :password %>
        <%= f.password_field setting %>
      <% else %>
        <%= f.text_field setting %>
      <% end %>
    </div>
  <% end %>

  <div class="footer save">
    <%= link_to "cancel", widgets_path, :class => "cancel button" unless @widget.serialized_settings.blank? %>
    <%= f.submit "Save Changes", :class => "save button" %>
  </div>

<% end %>