<div class="header">
  <h2>Install a widget</h2>
  <%= link_to "Back", widgets_path, :class => "button left" %>
</div>

<div id="available_widgets">
  <% @available_widget_types.each do |aw| %>
    <div class="available_widget">
      <h2><%= aw.title %></h2>
      <%= form_for aw.new do |f| %>
        <%= f.hidden_field :type, :value => aw.to_s %>
        <%= f.submit "Add", :class => "add_widget" %>
      <% end %>
    </div>
  <% end %>
</div>