<!DOCTYPE html>
<html>
	<head>
		<title>Launchpad</title>
		<%= csrf_meta_tag %>
		<%= stylesheet_link_tag 'mobile' %>
		<%= javascript_include_tag :defaults %>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name = "viewport" content = "width = 320, height = 460, user-scalable = no, initial-scale = 1.0">
		<link rel="apple-touch-icon-precomposed" href="/images/launchpad-hi.png"/>
		<!-- look at this for reference http://everytimezone.com/ -->
		<%= yield :head %>
	</head>
	<body>
		<div id="container">
			<div id="track">
				<div class="widget">
					<% if notice %>
						<p class="notice">Notice: <%= notice %></p>
					<% end %>
					<% if alert %>
						<p class="alert">Alert: <%= alert %></p>
					<% end %>
					
					<%= yield %>
					
				</div>
			</div>
			<div id="dots">
				<% if user_signed_in? %>
					<% if @widgets %>
						<span class="settings">&#x2699;</span>
						<span class="widget selected">&bull;</span>
						<span class="widget">&bull;</span>
						<span class="widget">&bull;</span>
					<% else %>
					<span class="settings selected">&#x2699;</span>
					<% end %>
				<% else %>
					<span class="selected">&#x2716;</span> <!-- x like symbol -->
				<% end %>
			</div>
		</div>
	</body>
</html>